<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Website ini adalah web restaurant terbaik">
  <meta name="keywords" content="restaurant,pesan,online,makanan">
  <meta name="author" content="Mohamad Ilman Huda">
  <meta name="theme-color" content="#DB0000"/>

  <link rel="icon" href="./favicon.jpeg">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
 
  <title>Xhijin</title>
</head>
<body>
  <a href="#content" class="skip-to-content">Skip to content ?</a>
  <!-- Mobile -->
  <div class="navbar-mobile">
      <div class="nav-hamburger" id="menu"><a href="#">&#9776;</a></div>
      <div class="navbar-brand-mobile">Xhijin</div>
      <div class="navbar-brand-mobile">&NonBreakingSpace;</div>
  </div>
  <nav id="drawer" class="nav-mobile">
      <ul class="nav-list-mobile">
          <li class="nav-item-mobile"><a href="">Home</a></li>
          <li class="nav-item-mobile"><a href="#">Favorite</a></li>
          <li class="nav-item-mobile"><a target="_blank" href="https://mohamadilmanhuda.my.id">About Us</a></li>
      </ul>
  </nav>
  <!-- Desktop -->
  <nav class="nav">
      <a class="nav-brand" href="">Xhijin</a>
      <ul class="nav-list">
          <li class="nav-item"><a href="">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item"><a target="_blank" href="https://mohamadilmanhuda.my.id">About Us</a></li>
      </ul>
  </nav>
  <!-- Hero -->
  <div class="hero" >
      <div class="hero-inner">
          <h1 class="hero-title">Xhijin</h1>
          <p class="hero-subtitle">the best restaurant.</p>
      </div>
  </div>
  <!-- Content -->
  <main id="content">
      <section class="content">
          <div class="list-restaurant">
              <h1>Explore Restaurant</h1>
              <div class="list" id="list-restaurant"></div>
          </div>
      </section>
      
  </main>
  <!-- Footer -->
  <footer>
      <p>Copyright © 2022 - Xhijin</p>
  </footer>
</body>
</html>